<p id="notice"><%= notice %></p>

<h1><%= t('groups.title') %></h1>

<table>
  <tr>
    <td><strong><%= t('groups.name') %></strong></td>
    <td><strong><%= t('groups.category') %></strong></td>
  </tr>

  <% @groups.each do |group| %>
    <tr>
      <td><%= link_to group.name, group %></td>
      <td><%= group.category %></td>
      <td><%= link_to t('groups.timetable'), group_group_timetables_path(group) %></td>

      <% if current_user.administrator? %>
        <% if group.deletable %>
          <td><%= link_to t('groups.edit'), edit_group_path(group) %></td>
          <td><%= link_to t('groups.destroy'), group, method: :delete, data: { confirm: '削除しますか?' } %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<br>

<% if current_user.administrator? %>
  <%= link_to t('groups.new'), new_group_path %>
<% end %>
