<p id="notice"><%= notice %></p>

<h1><%= t('groups.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('groups.name') %></th>
      <th><%= t('groups.category') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.category %></td>
        <% if current_user.administrator? %>
          <% if group.deletable %>
            <td><%= link_to t('groups.edit'), edit_group_path(group) %></td>
            <td><%= link_to t('groups.destroy'), group, method: :delete, data: { confirm: '削除しますか?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.administrator? %>
  <%= link_to t('groups.new'), new_group_path %>
<% end %>
