<h1><%= t('mypage.title') %></h1>
<% if user_signed_in? %>
  <%= t('mypage.message') %> <strong><%= current_user.name %> (<%= current_user.group.name %>)</strong> さん <br /><br />
<% else %>
  <%= link_to t('devise.labels.sign_up'), new_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to t('devise.labels.login'), new_user_session_path, :class => 'navbar-link' %>
<% end %>
